<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="<%- lang %>"
  lang="<%- lang %>">

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
  <!-- Custom ToC title -->
  <h1 class="h1">
    <%= content[0].title %>
  </h1>
  <nav id="toc" epub:type="toc">
    <ul>
      <% content.forEach(function(item, index){ %>
        <% if(index> 0) { %>
          <% if(item.excludeFromToc) { %>
            <!-- Section header without numbering -->
            <li class="section-header" style="font-weight:bold;list-style-type: none; text-indent: -25px;">
              <a href="toc.xhtml" style="text-decoration: none">
                <%= item.title %>
              </a>
            </li>
            <% } else { %>
              <li class="table-of-content">
                <a href="<%= item.href %>">
                  <%= item.title %>
                    <% if(item.author && item.author.length){ %> - <small class="toc-author">
                        <%= item.author.join(",") %>
                      </small>
                      <% }%>
                      <small class="toc-author"> (<%= item.publishedDate %>)</small>
                </a>
              </li>
              <% } %>
                <% } %>
                  <% }) %>
    </ul>
  </nav>
</body>

</html>