<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="en" lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body epub:type="frontmatter">
    <nav epub:type="toc">
        <ol>
            <% content.forEach(function(item) { %>
                <% if(item.excludeFromToc) { %>
                    <!-- Section header with nested articles -->
                    <li>
                        <a href="<%= item.filename %>"><%= item.title %></a>
                        <% if(item.articles && item.articles.length > 0) { %>
                            <ol>
                                <% item.articles.forEach(function(article) { %>
                                    <% if(!article.excludeFromToc) { %>
                                        <li><a href="<%= article.filename %>"><%= article.title %></a></li>
                                    <% } %>
                                <% }); %>
                            </ol>
                        <% } %>
                    </li>
                <% } else { %>
                    <!-- Standalone article -->
                    <li><a href="<%= item.filename %>"><%= item.title %></a></li>
                <% } %>
            <% }); %>
        </ol>
    </nav>
</body>
</html>
