<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="en" lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body epub:type="frontmatter">
    <nav epub:type="toc">
        <ol>
            <% content.forEach(function(item) { %>
                <% if(item.articles) { %>
                    <!-- Section header with nested articles -->
                    <li>
                        <a
                            href="<%= item.filename || (item.articles && item.articles[0] && item.articles[0].filename) || '#' %>">
                            <%= item.title %>
                        </a>
                        <ol>
                            <% item.articles.forEach(function(article) { %>
                                <li><a href="<%= article.filename %>">
                                        <%= article.title %>
                                    </a></li>
                                <% }); %>
                        </ol>
                    </li>
                    <% } %>
                        <% }); %>
        </ol>
    </nav>
</body>

</html>